# Rails logs and tmp
pricewatcher_api/log/
pricewatcher_api/tmp/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# VSCode
.vscode/

# OS files
.DS_Store

# Scraper checkpoints
jumia_checkpoint.txt
konga_checkpoint.txt
